xml-cache-settings > .components-panel {
    max-width: 500px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

xml-cache-settings .components-snackbar {
    margin-right: 10px;
    width: unset;
    max-width: 500px;
}